<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <%- include("./components/head.ejs");%>
  </head>
  <body>
    <%# soon btn 10 new pp, table %> <%if(user.length){%>
    <h1>
      WELCOME TO OUR MINIMAL HOMEPAGE, HERE YOU CAN SEE OUR <%=user.length%>
      AMAZING MEMBERS FROM OUR TINY DB
    </h1>

    <h3>Register to be a member of Fbw48 here</h3>
    <div class="centralize">
      <form
        action="/user"
        method="POST"
        class="row g-3 needs-validation"
        novalidate
      >
        <div class="col-md-4 position-relative">
          <label for="validationTooltip01" class="form-label">userName</label>
          <input
            type="text"
            class="form-control"
            id="userName"
            name="userName"
            value="Mark"
            required
          />
          <div class="valid-tooltip">Looks good!</div>
        </div>
        <div class="col-md-4 position-relative">
          <label for="validationTooltip02" class="form-label">
            userPass: <span class="text-danger">*</span>
          </label>
          <input
            type="password"
            class="form-control"
            id="userPass"
            name="userPass"
            value="Otto"
            required
          />
          <div class="valid-tooltip">Looks good!</div>
        </div>
        <div class="col-md-4 position-relative">
          <label for="validationTooltipUsername" class="form-label"
            >email</label
          >
          <div class="input-group has-validation">
            <span class="input-group-text" id="validationTooltipUsernamePrepend"
              >@</span
            >
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              aria-describedby="validationTooltipUsernamePrepend"
              required
            />
            <div class="invalid-tooltip">
              Please choose a unique and valid username.
            </div>
          </div>
        </div>
        <div class="col-md-6 position-relative">
          <label for="validationTooltip03" class="form-label">fbw number</label>
          <input
            type="number"
            class="form-control"
            id="fbw"
            name="fbw"
            required
          />
          <div class="invalid-tooltip">Please provide a valid input.</div>
        </div>
        <div class="col-md-6 position-relative">
          <label for="validationTooltip03" class="form-label">age</label>
          <input
            type="number"
            class="form-control"
            id="age"
            name="age"
            required
          />
          <div class="invalid-tooltip">Please provide a valid input.</div>
        </div>
        <div class="col-12">
          <button class="btn btn-dark" type="submit">Submit form</button>
        </div>
      </form>
    </div>
    <div class="contenti">
      <%for(let i=0;i< user.length;i++){%>

      <ul>
        <li>
          <p>name:&nbsp;</p>
          <%=user[i].userName%>
        </li>
        <li>
          <p>age: &nbsp;</p>
          <%=user[i].age%>
        </li>
        <li>
          <p>mail: &nbsp;</p>
          <%=user[i].email%>
        </li>

        <li>
          <a href="http://localhost:5000/display/<%=user[i].userName%>">
            more about <%=user[i].userName%></a
          >
        </li>
      </ul>
      <%}%> <%}%>
    </div>
  </body>
</html>
