<!DOCTYPE html>
<html>
  <head>
    <%- include("./components/head.ejs");%>
  </head>
  <body>
    <div class="centralize">
      <h1>
        WELCOME TO OUR MINIMAL HOMEPAGE, HERE YOU CAN SEE
        <%=user.userName.toUpperCase()%>
      </h1>
      <ul>
        <li>
          <p>name:&nbsp;</p>
          <%=user.userName%>
        </li>
        <li>
          <p>Age:&nbsp;<%=user.age%> &nbsp;</p>
        </li>
        <li>
          <p>Mail:&nbsp;<%=user.email%></p>
        </li>
        <li>
          <p>Tools:&nbsp;<%=user.toolStack%></p>
        </li>
        <li>
          <p>FBW:&nbsp;<%=user.email%></p>
        </li>
      </ul>
    </div>
  </body>
</html>
